<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
    <title>百度新闻——海量中文资讯平台</title>
    <meta name="description" content="百度新闻是包含海量资讯的新闻服务平台，真实反映
    每时每刻的新闻热点。您可以搜索新闻事件、热点话题、人物动态、产品资讯等，快速了解它们的最新进展。">
    <style rel="stylesheet" type="text/css">
        *{ margin: 0; padding: 0 }
        #nav_top{ float:right }
        #nav_top li{ list-style: none; font-family: 微软雅黑; font-size: 12px; margin:1px 4px;
            float: left }
        #nav_top ul:after{ content: " "; display: block; clear: both }
        #nav_top li:last-child{ margin-right: 20px }
        .float_clear:after{ content: " "; display: block; clear: both }
    </style>
</head>
<body>
    <!-- 顶部导航栏 -->
    <div class="float_clear">
        <div id="nav_top">
            <ul>
                <li><a>网页</a></li>
                <li><a>新闻</a></li>
                <li><a>贴吧</a></li>
                <li><a>音乐</a></li>
                <li><a>图片</a></li>
                <li><a>视频</a></li>
                <li><a>地图</a></li>
                <li><a>文库</a></li>
                <li>|</li>
                <li><a>百度首页</a></li>
                <li><a href="login">登陆</a><a href="regist">注册</a></li>
                <li><a>百度新闻客户端</a></li>
            </ul>
        </div>
    </div>

    <hr/>

</body>
</html>